<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!-- -----------------------------navigation bar------------------------------- -->
  <div class="topnav">
    <a class="active" href="#home">Summay Data</a>
  
    <div class="search-container">
      <form >
        <input type="text" placeholder="Search by resturant.." name="search" [(ngModel)]="searchitem" (ngModelChange)="search()">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>
    <div style="left:50%;">
      <ng-multiselect-dropdown
    [placeholder]="'custom placeholder'"
    [data]="dropdownList"
    [(ngModel)]="selectedItems"
    [settings]="dropdownSettings"
    (onSelect)="onItemSelect($event)"
    (onSelectAll)="onSelectAll($event)"
   (onDeSelect) ="onDeSelect($event)"
  >
  </ng-multiselect-dropdown>
    </div>
    
  </div>
  <!-- ----------x-------------------navigation bar-------------x------------------ -->

  <!-- ------------------------data table-------------------------------------------- -->
  
  <div class="card-container">
    <div style="overflow-x:auto;">
  <table>
    <tr>
      <th>Name</th>
      <th>city</th>
      <th (click)="sort(rating)">Rating</th>
      <th>Address</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>PostalCode</th>
      <th>Phones</th>
      <th>Websites</th>
    </tr>
    <tr *ngFor="let resturant of finalData">
      <td>{{resturant.name}}</td>
      <td>{{resturant.city}}</td>
      <td>{{resturant.averageRating|roundRating}}</td>
      <td>{{resturant.address}}</td>
      <td>{{resturant.latitude}}</td>
      <td>{{resturant.longitude}}</td>
      <td>{{resturant.postalCode}}</td>
      <td>{{resturant.phones[0]}}</td>
      <td>{{resturant.websites[0]}}</td>
      
    </tr>
  </table>
  <!-- -----------x-------------data table---------------------x----------------------- -->
   
    </div>
  </div>
</body>
</html>

<router-outlet></router-outlet>
