/* You can add global styles to this file, and also import other style files */
.multiselect-dropdown {
    position: absolute !important;
    width: 30% !important;
    float: right;
    margin: 2px 185px;
    font-size: inherit;
    font-family: inherit;
}